:root {
  --white-color: #ffffff;
  --secondary-white-color: #f4f4fd;
  --main-color: #2e2f42;
  --font-color: #434455;
  --active-color: #4d5ae5;
  --pressed-state: #404bbf;
  --light-slate: #afb1b8;
}

/**
  |===================================================================
  |          Common
  |===================================================================
*/

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--font-color);
  background-color: var(--white-color);
}

a {
  display: block;
  color: currentColor;
  text-decoration: none;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  max-width: 428px;
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 1158px) {
  .section {
    padding-bottom: 120px;
    padding-top: 120px;
  }
}

.section-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-color);
}

.subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/**
  |===================================================================
  |             Header
  |===================================================================
*/
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container-header {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .container-header {
    justify-content: space-between;
  }
}

.logo {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--active-color);
}

.logo-studio {
  color: var(--main-color);
}

@media screen and (min-width: 768px) {
  .page-nav {
    display: flex;
    align-items: center;
  }
}

.menu-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu-list {
    display: flex;
    gap: 40px;
  }
}

.menu-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active-page::after {
  content: " ";
  display: block;
  position: relative;
  top: 24px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--pressed-state);
}

.contact-info {
  display: none;
  font-style: normal;
}

@media screen and (min-width: 768px) {
  .contact-info {
    display: flex;
    font-style: normal;
  }
}

.contact-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
@media screen and (min-width: 1158px) {
  .contact-item:not(:last-child) {
    margin-right: 40px;
  }
}

.contact-link {
  display: block;
  padding-top: 0px;
  padding-bottom: 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--font-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



@media screen and (min-width: 1158px) {
  .contact-link {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.menu-link:hover,
.menu-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: var(--pressed-state);
}

.active-page {
  color: var(--pressed-state);
}

.open-menu-button {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: transparent;
  background-color: transparent;
  margin-left: auto;
}

.open-menu-button:hover .icon-menu,
.open-menu-button:focus .icon-menu{
fill: var(--pressed-state);
}

@media screen and (min-width: 768px) {
  .open-menu-button {
    display: none;
  }
}

.icon-menu {
  fill: var(--main-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/**
  |===================================================================
  |             Footer
  |===================================================================
*/
.page-footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--main-color);
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 72px 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .footer-container {
    padding-left: 92px;
  }
}
@media screen and (min-width: 1158px) {
  .footer-container {
    gap: 100px;
  }
}

@media screen and (max-width: 767px) {
  .logo-footer {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .footer-container-logo {
    margin-bottom: 72px;
  }
}

.logo-footer {
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--active-color);
}

.logo-footer-studio {
  color: var(--secondary-white-color);
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-white-color);
  width: 264px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .footer-container-media {
    margin-bottom: 72px;
  }
}

@media screen and (max-width: 767px) {
  .footer-subheader {
    text-align: center;
  }
}

.footer-subheader {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-color);
}

.footer-icon-item {
  width: 40px;
  height: 40px;
}

.footer-icon-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--active-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-icon {
  fill: var(--secondary-white-color);
}

@media screen and (min-width: 768px) {
  .wrap-form {
    display: flex;
    gap: 24px;
  }
}

.form-window-footer {
  padding: 8px 16px;
  height: 40px;
  width: 100%;
  background-color: transparent;
  color: var(--white-color);
  border: 1px solid #ffffff;
  border-radius: 4px;
  outline: transparent;
}

@media screen and (max-width: 767px) {
  .form-window-footer {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .form-window-footer {
    width: 264px;
  }
}

.form-window-footer::placeholder {
  font-size: 12px;
  letter-spacing: 0.04em;
  color: var(--white-color);
}

@media screen and (max-width: 767px) {
  .footer-button {
    margin-left: auto;
    margin-right: auto;
  }
}

.footer-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 16px;
  color: var(--white-color);
  background-color: var(--active-color);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button:hover,
.footer-button:focus {
  background-color: var(--pressed-state);
}

.subscribe-icon {
  fill: currentColor;
}
/**
  |===================================================================
  |                 Index.html
  |===================================================================
*/

.hero-container {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.hero {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 112px;
  padding-bottom: 112px;

  background-color: var(--main-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office_mob_@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192pdi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ), url(../images/people-office_mob_@2x.jpg);
  }
}

@media screen and (min-width: 429px) {
  .hero {
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ), url(../images/people-office_tab_@1x.jpg);
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192pdi), (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ), url(../images/people-office_tab_@2x.jpg);
    }
  }
}

@media screen and (min-width: 769px) {
  .hero {
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ), url(../images/people-office_desc_@1x.jpg);
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192pdi), (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ), url(../images/people-office_desc_@2x.jpg);
    }
  }
}


@media screen and (min-width: 1158px) {
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
  }
}

.page-title {
  display: block;
  max-width: 320px;
  text-align: center;
  margin: 0 auto 72px;
  font-size: 36px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white-color);
}

@media screen and (min-width: 768px) {
  .page-title {
    font-size: 56px;
    margin-bottom: 36px;
    max-width: 496px;
  }
}

@media screen and (min-width: 1158px) {
  .page-title {
    font-size: 56px;
    margin-bottom: 48px;
  }
}

.main-button {
  display: block;
  margin-left: auto;
  margin-right: auto;

  min-width: 169px;
  min-height: 56px;
  padding: 16px 32px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  border-radius: 4px;
  background-color: var(--active-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:hover,
.main-button:focus {
  background-color: var(--pressed-state);
}

@media screen and (max-width: 767px) {
  .subtitle-features {
    text-align: center;
  }
}

@media screen and (max-width: 1157px) {
  .subtitle-features {
    font-weight: 700;
    font-size: 36px;
  }
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
}

.feature-item {
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .feature-item {
    width: 356px;
  }
}

@media screen and (min-width: 1158px) {
  .feature-item {
    width: 264px;
  }
}

.icon-features-container {
  display: none;
}

@media screen and (min-width: 1158px) {
  .icon-features-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    height: 112px;
    background-color: var(--secondary-white-color);
    border-radius: 4px;
  }
}

.section-service {
  display: none;
}

@media screen and (min-width: 1158px) {
  .section-service {
    display: flex;
    padding-top: 0;
  }
}

@media screen and (min-width: 1158px) {
  .service-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
}

.team {
  background-color: var(--secondary-white-color);
}

@media screen and (max-width: 767px) {
  .team-item {
    margin: 0 auto 72px;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 64px 24px;
    justify-content: center;
  }
}

.team-item {
  width: 264px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-text-wrapper {
  padding: 32px 0;
  background-color: var(--white-color);
}

.team-subtitle {
  text-align: center;
}

.team-text {
  text-align: center;
  margin-bottom: 8px;
}

.icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--active-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--pressed-state);
}

.icon {
  fill: var(--secondary-white-color);
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px 16px;
}

@media screen and (min-width: 768px) {
  .customers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px 24px;
  }
}

.customers-item {
  min-width: 136px;
  height: 88px;
}

@media screen and (min-width: 428px) {
  .customers-item {
  width: 190px;
}
}

@media screen and (min-width: 768px) {
  .customers-item {
    width: 168px;
    height: 88px;
  }
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  color: var(--light-slate);
  /* padding: 16px 32px; */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--pressed-state);
  color: var(--pressed-state);
}

.customers-icon {
  fill: currentColor;
}

/**
  |===================================================================
  |               Portfolio 
  |===================================================================
*/

.project.section {
  padding-top: 48px;
}

@media screen and (min-width: 768px) {
  .project.section {
    padding-top: 64px;
  }
}

@media screen and (min-width: 1158px) {
  .project.section {
    padding-top: 96px;
  }
}

.project-filter-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 64px;
  gap: 16px 24px;
}

@media screen and (max-width: 767px) {
  .project-filter-list {
    max-width: 268px;
  }
}


@media screen and (min-width: 768px) {
  .project-filter-list {
    justify-content: center;
  }
}
@media screen and (min-width: 1158px) {
  .project-filter-list {
    margin-bottom: 72px;
  }
}

.filter-button {
  padding: 8px 16px;

  min-height: 40px;
  min-width: 53px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--active-color);
  background-color: var(--secondary-white-color);
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .filter-button {
    padding: 12px 24px;
    min-height: 48px;
    min-width: 69px;
  }
}

.filter-button:hover,
.filter-button:focus {
  border: 1px solid var(--pressed-state);
  background-color: var(--pressed-state);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}


.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 24px;
  row-gap: 48px;
  box-shadow: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-img {
  max-width: 396px;
  max-height: 400px;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .project-img {
    width: 356px;
  }
}

@media screen and (min-width: 1158px) {
  .project-img {
    width: 360px;
  }
}

.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-text-wrapper {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
}

.project-thumb {
  position: relative;
  overflow: hidden;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: var(--active-color);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-text {
  padding: 40px 32px;
  color: var(--secondary-white-color);
}

.project-link:hover .project-text,
.project-link:hover .project-overlay,
.project-link:focus .project-text,
.project-link:focus .project-overlay {
  transform: translateY(0);
}

/**
  |===================================================================
  |          Backdrop  Modal
  |===================================================================
*/

.backdrop {
  position: fixed;
  left: 0px;
  top: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  max-width: 392px;
  width: 100%;
  min-height: 586px;
  padding: 24px 16px;

  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .modal {
    max-width: 408px;
    padding: 24px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.1);
  opacity: 0;
}

.modal-button {
  display: block;
  margin-left: auto;
  margin-bottom: 24px;
  width: 24px;
  height: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background-color: var(--pressed-state);
  border: 1px solid transparent;
  color: var(--white-color);
}

.modal-icon {
  fill: currentColor;
}

.modal-header {
  display: block;
  margin-bottom: 16px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.form-container {
  position: relative;
  margin-bottom: 8px;
}

.form-label {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #8e8f99;
}

.form-input {
  padding: 8px 16px 8px 38px;
  width: 100%;
  height: 40px;

  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border: 1px solid var(--active-color);
}

.form-icon {
  position: absolute;
  top: 26px;
  left: 16px;
  fill: var(--main-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .form-icon {
  fill: var(--active-color);
}

.form-textarea {
  padding: 8px 16px;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea::placeholder {
  font-size: 12px;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.form-textarea:focus {
  border: 1px solid var(--active-color);
}

.form-container-checkbox {
  margin-bottom: 24px;
  position: relative;
}

.form-label-checkbox {
  color: #8e8f99;
  display: flex;
  gap: 8px;
  align-items: center;
}

.form-descr-checkbox {
  font-size: 12px;
  line-height: 14px;
}

.form-link-checkbox {
  display: inline;
  text-decoration: underline;
  color: var(--active-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-link-checkbox:hover,
.form-link-checkbox:focus {
  color: var(--pressed-state);
}

.form-input-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;

  background-color: var(--white-color);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-checkbox:checked + .form-label-checkbox > .checkbox-wrapper {
  background-color: var(--active-color);
  border-color: transparent;
}

.checkbox-icon {
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-checkbox:checked + .form-label-checkbox .checkbox-icon {
  fill: var(--white-color);
}

/**
  |===================================================================
  |           Mobile menu
  |===================================================================
*/
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.02em;
  color: var(--main-color);
  padding-left: 40px;
  padding-top: 80px;
  padding-bottom: 40px;
  pointer-events: none;
  transform: translateX(100%);
  visibility: hidden;
  opacity: 0;
  transition: opacity  250ms cubic-bezier(0.4, 0, 0.2, 1),
  visibility  250ms cubic-bezier(0.4, 0, 0.2, 1),
  transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

 
  .mobile-menu.is-open {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  
}
 
 .mobile-link.active {
  color: var(--pressed-state);
}


.mobile-item:not(:last-of-type) {
  margin-bottom: 40px;
}

 .mobile-address {
  margin-top: auto;
}

 .mobile-link-tel {
  font-size: 26px;
  color: var(--active-color);
  margin-bottom: 40px;
  font-style: normal;
}

 .mobile-link-mail {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--font-color);
  margin-bottom: 48px;
}

@media only screen and (min-width: 428px) {
  .mobile-link-tel {
    font-size: 36px;
  }
}

 .menu-icon-list {
  display: flex;
  justify-content: space-around;
}

 .menu-social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  background-color: var(--active-color);
  border-radius: 50%;
}

.menu-social-link:hover,
.menu-social-link:focus {
  background-color: var(--pressed-state);
}

.close-button {
  position: absolute;
  top: 24px;
  right: 24px;

  width: 24px;
  height: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(231, 233, 252, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.close-button:hover,
.close-button:focus {
  background-color: var(--pressed-state);
}

